.link {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    outline-color: #ccc;
}

.link:hover {
    outline: 1px solid #ccc;
}

.link__icon {

}

.link__label {
    color: white;

}
