.accounts {
    padding: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.accounts__header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.account {
    padding: 1rem 2rem;
    border: 1px solid #ccc;

    color: white;
    word-spacing: 0.25rem;

    transition: 0.3s;
    cursor: pointer;
}

.account:hover {
    transform: scale(1.05);
}

.account__email {
    opacity: 0.75;
}

.accounts__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
