.accounts {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.accounts__item {
    padding: 1rem 2rem;
    border: 1px solid #ccc;

    color: white;
    word-spacing: 0.25rem;

    transition: 0.3s;
    cursor: pointer;
}

.accounts__item:hover {
    transform: scale(1.05);
}
